{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='new_entry.css') }}">
<section class="new_entry">
  <div class="container">
      <div class="box"></div>
      <div class="box">   
        <div class="h1 mb-3" style="text-align: center;">
          <i class="fa-solid fa-ship"></i>
        </div>
        <h3>Ferry CO2 Emissions Calculator</h3>
        <p>
          <ol style="text-align: left;">
            <li>
                Please enter the distance traveled (in kilometers).
            </li>
            <li>
                Please select the travel option.
            </li>
            <li id="passenger_field" style="display: none;">
             Please enter the number of additional passengers.
            </li>
          </ol>
        </p>
          <form method="POST" action="">
              {{ form.csrf_token }}
              <fieldset class="form-group">

                <div class="form-group">
                    {{ form.kms.label(class="form-control-label") }}
                    {% if form.kms.errors %}
                        {{ form.kms(class="form-control form-control-lg is-invalid", placeholder="Enter distance in kilometers") }}
                        <div class="invalid-feedback">
                            {% for error in form.kms.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.kms(class="form-control form-control-lg", placeholder="Enter distance in kilometers") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.travel_option.label(class="form-control-label") }}
                    {% if form.travel_option.errors %}
                        {{ form.travel_option(class="form-control form-control-lg is-invalid", id="travel_option") }}
                        <div class="invalid-feedback">
                            {% for error in form.travel_option.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.travel_option(class="form-control form-control-lg", id="travel_option") }}
                    {% endif %}
                </div>

                <div id="passenger_input" class="form-group" style="display: none;">
                    {{ form.passengers.label(class="form-control-label") }}
                    {% if form.passengers.errors %}
                        {{ form.passengers(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.passengers.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.passengers(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

              </fieldset>
              <br>
              <div class="form-group">
                {{ form.submit(class="btn_carbon_app_new_entry_main") }}
              </div>
          </form>
      </div>
      <div class="box"></div>
  </div>
</section>

<script>
    // Show or hide the number of passengers input field based on the selected travel option
    document.addEventListener('DOMContentLoaded', function() {
        var travelOptionField = document.getElementById('travel_option');
        var passengerField = document.getElementById('passenger_field');
        var passengerInput = document.getElementById('passenger_input');

        travelOptionField.addEventListener('change', function() {
            var selectedOption = this.options[this.selectedIndex].value;
            if (selectedOption === 'Driver with passengers') {
                passengerField.style.display = 'block';
                passengerInput.style.display = 'block';
            } else {
                passengerField.style.display = 'none';
                passengerInput.style.display = 'none';
            }
        });
    });
</script>

{% endblock %}
