{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='new_entry.css') }}">
<section class="new_entry mx-auto">
  <div class="container">
    <div id="new_entry_grid"class="box ">
      <div class="h1 mb-3 icon_box">
      <img class="transport_icon" src="{{ url_for('static', filename='icons/bus-2.svg') }}"></img>
      </div>
      <div id="instruction_box">
      <h3>Bus CO2 Emissions Calculator</h3>
      <p>
        <ol style="text-align: left;">
          <li>
            Please enter the number of kilometers.
          </li>
          <li>
            Please select the fuel type.
          </li>
        </ol>
      </p>
      </div>
      <form id="transportForm" method="POST" action="">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.kms.label(class="form-control-label") }}
          {% if form.kms.errors %}
            {{ form.kms(class="form-control form-control-lg is-invalid", placeholder="Enter kilometers") }}
            <div class="invalid-feedback">
              {% for error in form.kms.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.kms(class="form-control form-control-lg", placeholder="Enter kilometers") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.fuel_type.label(class="form-control-label") }}
          {% if form.fuel_type.errors %}
            {{ form.fuel_type(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.fuel_type.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.fuel_type(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <br>
        <div class="form-group">
          {{ form.submit(class="btn_carbon_app_new_entry_main") }}
        </div>
      </form>
    </div>
  </div>
</section>

{% endblock %}