{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about_us.css') }}">
<!-- Developers -->
<section class="section_developers">
  <div class="container">
    <br>
    <div class="developers" style="display:block;">
      <h1 style="text-align:center;">About us</h1>
      <p>
        
Our team, consisting of 7 developers, students at NHH - Norwegian School of Economics, has a shared passion for economics and IT. This semester, under the guidance of our teacher Mario Blázquez de Paz, we took the class of Green Digitalization and App Development, learning languages like HTML, CSS, Flask, Latex, Python, and JavaScript. Our app, Carbon, aims to make a positive impact on the environment by promoting sustainable practices. We believe in the power of technology to drive positive change. Our diverse team, with members from different backgrounds, brings unique perspectives to creatively address complex issues. Connect with us on Linkedin or visit our website to meet the team and learn more about our commitment to building a sustainable future.
      </p>      
    </div>

    <div class="developers">
        <div class="box">
          <img src="https://randomuser.me/api/portraits/men/10.jpg" alt="" style="border-radius: 50%; width:200px;">
          <h3>Per Olav Hagen Hallingstad</h3>
          <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
          </p>
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Linkedin</a>
          </div> 
        </div>
        <div class="box">
          <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="" style="border-radius: 50%; width:200px;">
          <h3>Flavian Anton</h3>
          <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
          </p>
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Linkedin</a>
          </div> 
        </div>           
        <div class="box">
          <img src="https://randomuser.me/api/portraits/men/12.jpg" alt="" style="border-radius: 50%; width:200px;">
          <h3>Auriane Chevalier</h3>
          <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
          </p>
          <div class="container_buttons_developers">
            <a class="btn_developers" href="#"  target="_blank">Linkedin</a>
          </div> 
        </div>     
    </div>

    <div class="developers">
      <div class="box2">
        <img src="https://randomuser.me/api/portraits/women/12.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>菅野智斗星</h3>
        <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Linkedin</a>
        </div> 
      </div>
      <div class="box2">
        <img src="https://randomuser.me/api/portraits/women/13.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Julia Gomon</h3>
        <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Linkedin</a>
        </div> 
      </div>  
      <div class="box2">
        <img src="https://randomuser.me/api/portraits/women/13.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Grégoire Morneau</h3>
        <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Linkedin</a>
        </div> 
      </div>          
    </div>

    <div class="developers">
      <div class="box3">
        <img src="https://randomuser.me/api/portraits/women/12.jpg" alt="" style="border-radius: 50%; width:200px;">
        <h3>Hasan Askri</h3>
        <p>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quia repellat omnis? Odit enim hic atque dolorem iste natus inventore perspiciatis vitae dolore animi veritatis aut nemo unde similique, officia reiciendis ex architecto voluptates soluta ab tempore facilis quisquam cum.
        </p>
        <div class="container_buttons_developers">
          <a class="btn_developers" href="#"  target="_blank">Linkedin</a>
        </div> 
      </div>
      <div class="box3"></div> 
      <div class="box3"></div>
    </div>

  </div>          
</section>
        
{% endblock content %}