/* Utilities  */
p {
  margin: 10px 0;
  font-size: 18px;
}

/* Section developers */
.section_developers {
  background-color:#caf0f8;
}
.developers {
  display: flex;  
  align-items: start;
  background: #caf0f8;
}
.developers .box {
  flex: 1;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.developers .box:nth-of-type(1) {
  flex-grow:4;
}
.developers .box:nth-of-type(2) {
  flex-grow:4;
}
.developers .box:nth-of-type(3) {
  flex-grow:4;
}
.developers .box2 {
  flex: 1;
  background: #ffffff;
  color: black;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.developers .box2:nth-of-type(1) {
  flex-grow:4;
}
.developers .box2:nth-of-type(2) {
  flex-grow:4;
}
.developers .box2:nth-of-type(3) {
  flex-grow:4;
}

.developers .box3 {
  flex: 1;
  background: #ffffff;
  color: black;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.developers .box3:nth-of-type(1) {
  flex-grow:4;
}
.developers .box3:nth-of-type(2) {
  flex-grow:4;
  background: #caf0f8;
}
.developers .box3:nth-of-type(3) {
  flex-grow:4;
  background: #caf0f8;
}
.container_buttons_developers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  padding: 0px 0px;
  margin: 0px 0px;
}
.btn_developers {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  background-color: #48cae4;
  border: 2px solid  #48cae4;
}
.btn_developers:hover {
  color: #ffffff;
  background-color: #caf0f8;
  border: 2px solid #caf0f8;
  text-decoration: none;
}


@media (max-width:768px) { 
  .header_about_us {
    flex-direction: column;
  } 
  .developers {
    flex-direction: column;
  } 
  .container_buttons_developers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}