/* Google fonts Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* CSS utilities */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Outfit, sans-serif;
}

body {
  font-family: Outfit, sans-serif;
  background-color: #142C35;
  line-height: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin: auto;
  max-width: 1320px;
}

ul {
  list-style: none;
  font-size: 400;
}

h1,
h2 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  margin: 10px 0;
  font-size: 18px;
}

img {
  width: 100%;
}

/* Navbar */
#section_carbon_app_navbar {
  background-color: #142C35;
  color: #FFF;
}


.navbar {
  color: #FFF;

}

#section_carbon_app_navbar .nav-link {
  font-size: 1rem;
  color: #FFF;
}

.nav-link link:hover {
  color: #48cae4;
}




/* Footer  */
.footer {
  background: #C2E890;
  color: #142C35;
  margin-top: auto;
  margin-bottom: 0;

}

.footer h2 {
  font-size: 2.85rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Media query */
@media(max-width:768px) {
  .navbar {
    height: 160px;
    flex-direction: column;
  }

  .navbar a {
    font-size: 15px;
    padding: 5px 20px;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;
  }

  .navbar a:hover {
    color: #48cae4;
    border-bottom: #48cae4 2px solid;
  }
}


/* Modal style */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
}

/* Modal content style */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

/* Close button style */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* PDF frame style */
#iframe {
  width: 100%;
  height: 80vh;
  border: none;
}

.formula-box {
  border: 1px solid #142C35;
  padding: 10px;
  margin-bottom: 10px;
}


