/* Colors 
Methodology, section 1 (header, background): #2a4359
Methodology, section 1 (header, boxes): #6da6a6
Methodology, section 2 (methodology, background): #466fa6
Methodology, section 2 (methodology, boxes): #8badd9
*/

/* Utilities  */
body {
  background-color: #ead1dcff;
  color: black;
}

p {
  margin: 10px 0;
  font-size: 18px;
}

h4 {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}

ol {
  font-size: 18px;
}

/* Section header */
.section_header_methodology {
  background-color: #ead1dcff;
}

.header {
  margin: 50px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #fff1fcff;
  color: black
}

.header .box {
  flex: 1;
  background: #fff1fcff;
  color: black;
  border-radius: 20px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header .box:nth-of-type(1) {
  flex-grow: 2;
}

.header .box:nth-of-type(2) {
  flex-grow: 1;
}

.container_buttons_links_header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container_buttons_links_header a:hover {
  color: #2a4359;
}

.container_buttons_links_header btn {
  width: 100px;
  height: 100px;
  background: #2a4359;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section methodology */


.section_body_methodology {

  font-family: 'Times New Roman', Times, serif;
  flex: 1;
  background-color: #fff1fcff;
  color: black;
  border-radius: 20px;
  margin: 50px;
  padding: 15px 15px;
  text-align: center;
  align-items: center;
  justify-content: center;

}


@media (max-width:768px) {
  .header {
    flex-direction: column;
  }

  .methodology {
    flex-direction: column;
  }
}