body {
    background: #142C35;
}

.container {
    padding: 5rem;
}

.background-box {
    background-color: #FFF;
    padding: 3rem;
    border-radius: 0.75rem;
}

#registerForm {
    border-radius: 1.25rem;
    background-color: #FFF;
    font-family: Outfit;
    padding: 2.5rem;
}

.form-title {
    color: #142C35;
    font-family: inherit;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.form-control-label {
    font-family: inherit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0.625rem;
}



#remember {
    margin-top: 0.9rem;
}

#registerForm input[name="username"] {
    border: 1px solid #142C35;
    border-radius: 0;

}

#username,
#email,
#password,
#confirm_password {
    border: 1px solid #142C35;
    border-radius: 0;
}

#sign-in-link {
    text-decoration: none;
    font-family: inherit;
    color: #C2E890;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#registerForm p {
    font-family: inherit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* center the text */
    text-align: center;
}

#submit {
    color: #FFF;
    font-family: inherit;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(90deg, #C2E890 0%, #142C35 100%);
    border: none;
    border-radius: 0;
    width: 100%;

}