{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
<!-- Header -->

<div class="container">

  <div id="header_home">
    <div class="row">
      <div class="col-md-7">
        <h1>Building the green future together</h1>

        <p>Greenify is made to provide users with a tool to visualize carbon emissions, produced by transport.</p>

      </div>
      <div class="col-md-3">
        <img src="{{ url_for('static', filename='images/earth_greenify.png') }}" alt="home" class="img-fluid">

      </div>

      <!-- Login and register button-->
      <div class="row">
        <div class="col-sm-2">
          <button class="btn"><a href="{{url_for('user.login')}}">Login</a></button>
        </div>
        <div class="col-sm-2">
          <button class="btn"><a href="{{url_for('user.register')}}">Register</a></button>
        </div>
      </div>


    </div>


    {% endblock content %}