{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='methodology.css') }}">
<!-- Header -->
<section class="section_header_methodology">
    <div class="container">
        <div class="header">
            <div class="col">
                <h1> Methodology</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat dolores quos asperiores
                    repellendus facilis cum illo aperiam odit doloremque nostrum.
                </p>
                <div class="container_buttons_links_header">
                    <div class="col-sm-2">
                        <button onclick="openPdfModal()">Paper</button>
                    </div>
                    
                    <!-- PDF modal -->
                    <div id="pdfModal" class="modal">
                        <div class="modal-content">
                            <span class="close" onclick="closePdfModal()">&times;</span>
                            <iframe id="pdfFrame" src="{{url_for('static', filename = 'Methodology_paper.pdf')}}" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="col-sm-2"><button><a href="{{url_for('carbon_app.carbon_app_home')}}" class="btn">Carbon App</a></button></div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Methodology -->
<section class="section_body_methodology m-5 p-3">
    <div class="container">

        <div class="methodology">
            <h1> Methodology</h1>
            <p>
                Welcome to our newly developed carbon emissions calculator application! 
                Our aim is to assist both individuals and businesses in making well-informed choices regarding their carbon footprint and actively participating in efforts to diminish their environmental impact. 
                This user-friendly app offers tailored suggestions for decreasing emissions based on your particular lifestyle or business activities. 
                Utilizing a carbon footprint analysis methodology, we've curated comprehensive insights into various modes of transport, aiding users in understanding the greenhouse gas emissions associated with their travel choices. 
                By monitoring your carbon emissions and utilizing our app's personalized recommendations, you can initiate meaningful changes to reduce your ecological footprint and contribute to a more sustainable future. 
                Let's unite in our commitment to safeguarding our planet starting today!
            </p>
        </div>

        <div class="methodology">
            <h1 "> Our numbers and formulas</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia, ut?
            </p>
        </div>

        <!--Enumerated list (table)-->
        <div class=" methodology">
                <div class="box_table">
                    <body>
                        <div class="formula-box">
                            \[
                            \text{General Formula}:
                            \]
                            \[
                            e : \text{CO2 emissions per km}
                            \]
                            \[
                            d : \text{number of kilometers travelled}
                            \]
                            \[
                            \text{Formula for total emissions} : (e \times d)
                            \]
                        </div>
                    </body>
                    
                

                </div>
        </div>

        <script>
 // Function to open the PDF modal
function openPdfModal() {
    document.getElementById('pdfModal').style.display = 'block';
}

// Function to close the PDF modal
function closePdfModal() {
    document.getElementById('pdfModal').style.display = 'none';
}
        </script>
    
</div>
</section>



{% endblock content %}